<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feedback.successpage</title>
    <link rel="stylesheet" type="text/css" href="../static/success.css">
    <link rel="icon" href="../static/logo.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <button type="submit" class="btn">submit</button>

    <div class="popup">
        <img src="../static/logo.png">
        <h3>Elegance.</h3>
        <p>Your feedback as been submitted successfully.Thank you!</p>

    <button type="button">submitted...!</button><br><br>

     <div class="icons">
            <u>Our social media platforms</u>...<br><br>
            <a href="https://www.facebook.com/elegancedesignersandprinters/"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://twitter.com/elegancedesign"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="https://www.instagram.com/elegancedesigners/?hl=en"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-github"></ion-icon></a>
            <a href="#"><ion-icon name="logo-tiktok"></ion-icon></a>
            <a href="https://ke.linkedin.com/company/elegance-designers-printers-ltd"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>


     <div class="copyright"><br>
           <p>©copyright@2022.</p>


    </div>
   </div>   
  </div>
 </div>
</body>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</html> 